<!DOCTYPE html>
<html>
<head>

    <link href="css/changecolor2.css" rel="stylesheet">

    <title>Change Color</title>
</head>

<body id="container">



<button id="button">click here!</button>


<script src="js/changecolor2.js"></script>
</body>
</html>