<!DOCTYPE html>
<html>
<head>

    <link href="css/changecolor.css" rel="stylesheet">

    <title>Change Color</title>

</head>

<body >

   <div id="container">

   <button id="button">click here!</button>

   </div>

   <script src="js/changecolor.js"></script>
</body>
</html>